<p>Tunning</p>


<div class="square" >
    <a class="content">
        <div class="table">
            <div class="table-cell">
				x
            </div>
        </div>
    </a>
    <div class="ship-label">image</div>
</div>

<div class="square" >
    <a class="content">
        <div class="table">
            <div class="table-cell">
				x
            </div>
        </div>
    </a>
    <div class="ship-label">map</div>
</div>


<div class="row ship-description">
  <div class="col-md-8">

  </div>
</div>